@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap");
* {
  font-family: "Hedvig Letters Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  color: rgb(243, 243, 243);
  margin-left: 1em;
}

h2 h4 {
  font-size: 1, 5;
  font-weight: 600;
  color: rgb(20, 19, 19);
}

h3 {
  font-size: 1em;
  font-weight: 400;
  color: rgb(20, 19, 19);
}

h5 {
  color: rgb(243, 243, 243);
  font-size: 15px;
}

main figure img {
  width: 2em;
  height: auto;
  margin-left: 1em;
  margin-top: 1em;
}

.estilo {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estilo2 {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

.fondocard {
  background-color: rgb(241, 247, 250);
}

.errorPage {
  background-image: url(../img2/404/maxresdefault8-e1460828369318.jpg);
  background-size: cover;
  background-position: center;
  width: 90%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errorPage a {
  text-decoration: none;
  color: rgb(243, 243, 243);
}
.errorPage a:hover {
  color: lightskyblue;
}

.imgImportante {
  background: linear-gradient(rgba(25, 27, 32, 0.5), rgba(25, 27, 32, 0.5)), url(../img2/fondo2.jpg.jpg);
  background-position: center;
  background-size: cover;
}
.imgImportante img {
  width: auto;
  height: 6em;
}
.imgImportante img:hover {
  transform: scale(1.1);
  transition: all 1.9s;
  cursor: pointer;
}
.imgImportante button {
  color: rgb(243, 243, 243);
}
.imgImportante button img {
  width: auto;
  height: 2em;
}
.imgImportante ul a {
  color: rgb(243, 243, 243);
}
.imgImportante ul a:hover {
  color: lightskyblue;
}

.btnBase, .btnForm, .btnSecond {
  background-color: lightskyblue;
  margin-left: 1.5em;
}
.btnBase:hover, .btnForm:hover, .btnSecond:hover {
  color: rgb(243, 243, 243);
  border-color: lightskyblue;
}

.btnSecond {
  margin-top: 15px;
  margin-bottom: 15px;
}
.btnSecond:hover {
  background-color: rgb(19, 139, 19);
  border-color: rgb(19, 139, 19);
}

.btnForm:hover {
  color: rgb(20, 19, 19);
}

.redesFooter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgb(51, 60, 87);
}
.redesFooter div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redesFooter div img {
  width: 5em;
  height: auto;
  margin: 1em;
}
.redesFooter .footer2 {
  flex-direction: row;
}
.redesFooter .footer2 img {
  width: 1em;
  height: auto;
  margin: 5px;
  margin-bottom: 15px;
}

.terminos {
  color: rgb(20, 19, 19);
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
}
.terminos a:hover {
  color: rgb(243, 243, 243);
}

.header p {
  color: lightslategray;
  text-align: center;
  font-size: 1em;
}

.parrafoImportante {
  text-align: center;
  font-size: 18px;
}

.novedades {
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 20vh);
  gap: 4px;
  grid-template-areas: "box1" "box2" "box3" "box4" "box5" "box6" "box7" "box8" "box9" "box10";
}
.novedades .box1 {
  grid-area: box1;
}
.novedades .box2 {
  grid-area: box2;
}
.novedades .box3 {
  grid-area: box3;
}
.novedades .box4 {
  grid-area: box4;
}
.novedades .box5 {
  grid-area: box5;
}
.novedades .box6 {
  grid-area: box6;
}
.novedades .box7 {
  grid-area: box7;
}
.novedades .box8 {
  grid-area: box8;
}
.novedades .box9 {
  grid-area: box9;
}
.novedades .box10 {
  grid-area: box10;
}
.novedades img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width >= 420px) {
  .redesFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}
@media (width >= 600px) {
  .novedades {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 30vh);
    grid-template-areas: "box1 box2" "box1 box3" "box1 box4" "box5 box6" "box7 box6" "box8 box6" "box10 box9";
  }
  .parrafoImportante {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: lightslategray;
    font-size: 1.5em;
    text-align: center;
  }
  .redesFooter img {
    width: 1em;
    height: auto;
    margin: 15px;
  }
  .terminos a {
    font-size: 13px;
  }
}
@media (width >= 768px) {
  .estilo {
    flex-direction: row;
    justify-content: center;
  }
  .titulo {
    font-size: 2em;
    font-weight: 600;
  }
}
@media (width >= 1024px) {
  .novedades {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 40vh);
    grid-template-areas: "box1 box2 box3" "box1 box4 box3" "box5 box7 box6" "box8 box9 box10";
  }
}

/*# sourceMappingURL=main.css.map */
