@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
//vars
$fuenteA:'Hedvig Letters Sans', sans-serif;
 //weights
 $pesoTsm:300;
 $pesoTmd:400;
 $pesoTlg:600;
 //color
 $mainColor:lightskyblue;
 $colorB:lightslategray;
$ColorC:rgb(51, 60, 87);
$white:rgb(243, 243, 243);
$black:rgb(20, 19, 19);
//size-tamaño
$xs:0,5em;
$s:1em;
$m:1,5;
$l:2em;
$xl:4em;
$xxl:6em;
//comun al proyecto
*{
    font-family: $fuenteA;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 } 

 h1{
    color:$white;
    margin-left:$s;
    
}
h2 h4{
    font-size: $m;
    font-weight:$pesoTlg;
    color:$black;
}
h3{
font-size: $s;
font-weight: $pesoTmd;
color:$black;
}
h5{
color: $white;
font-size:15px;
}
main{
    figure{
    img{
        width: 2em;
        height: auto;
        margin-left:1em;
        margin-top: 1em;
    }
    }
}
.estilo{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.estilo2{
         text-align: center;
         margin-left: $s;
         margin-right: $s;
}
.fondocard{
    background-color: rgb(241, 247, 250);
}
.errorPage{
    background-image: url(../img2/404/maxresdefault8-e1460828369318.jpg) ;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        text-decoration: none;
        color:$white;
        &:hover{
            color: $mainColor;
        }
    }
}