@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Hedvig Letters Sans', sans-serif;
    padding: 0;
    margin: 0;
    
}
.animacion:hover{
transform: scale(1.1);
transition: all 1.9s;
cursor: pointer;
}
.imgImportante{

    background: linear-gradient(rgba(25, 27, 32, 0.50), rgba(25, 27, 32, 0.50)), 
    url(../img2/fondo2.jpg.jpg);
    background-position: center;
    background-size: cover ;
}

#btnh{
    color: azure;
}
.bgColor{
    background-color: lightskyblue;
    color:black;
}
#botonMenu{
    width: auto;
    height: 2em;
}
.iconos{
    width: 2em;
    height: auto;
    margin-left:1em;
    margin-top: 1em;
}

.navegar img{
   width: auto;
   height: 6em;
   
}

.lista li a{

    color: white;
   
}
.lista li a:hover{
    color: lightskyblue;

}
.titulo{
    font-size: 1em;
    font-weight: 600;
    
    
    
}
.estilo{
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
}
.estilo2{
    text-align: center;
    
}
.estilo3{
    color: lightslategray;
}

.textoimportante{
    margin-left: 10px;
    color: white;
}
.redesFooter{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(51, 60, 87);
    

}
.redesFooter h4{
    padding: auto;
    color: azure;
    font-size: 15px;
    
    

} 
#logoFooter{
    width: 15vh;
    height: auto;
    margin: 1em;
    
}
.redesFooter img{
    width: 1em;
    height: auto;
    margin: 5px;
}
.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.footer3{
    background-color:gray;
    width: 100%;
    height: auto;
    text-align: center;
}
.footer3 p{
    color: aliceblue;
}
.novedades img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.parrafoImportante{
    
    color: lightslategray;
    text-align: center;
    font-size:0.8em;
   
} 

.novedades{
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 20vh) ;
    gap:4px;
    

 grid-template-areas: 
"box1"
"box2"
"box3"
"box4"
"box5"
"box6"
"box7"
"box8"
"box9"
"box10";
}


.novedades .box1{
    grid-area: box1;
}
.novedades .box2{
    grid-area: box2;
}
.novedades .box3{
    grid-area: box3;
}
.novedades .box4{
    grid-area: box4;
}
.novedades .box5{
    grid-area: box5;
}
.novedades .box6{
    grid-area: box6;
}
.novedades .box7{
    grid-area: box7;
}
.novedades .box8{
    grid-area: box8;
}
.novedades .box9{
    grid-area: box9;
}
.novedades .box10{
    grid-area: box10;
}

/* breakp. */
@media(width >=420px){
    .redesFooter{
        display: flex;
        flex-wrap:nowrap;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        
        
    }
    
}

@media (width >= 600px){
    .novedades{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(5,30vh);
        grid-template-areas:
        "box1 box2"
        "box1 box3"
        "box1 box4"
        "box5 box6"
        "box7 box6"
        "box8 box6"
        "box9 box10";
    }
    .parrafoImportante{
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        color: lightslategray;
        font-size: 1.5em;
        text-align: center;
}
.redesFooter img{
    width: 1em;
    height: auto;
    margin: 15px;
}

}
@media (width >=768px){
    .estilo{
        flex-direction: row;
        justify-content: center;
    }
    .titulo{
        font-size: 2em;
        font-weight: 600;
         
    }
}

@media (width >= 1024px){
    .novedades{

        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(4, 40vh);
        grid-template-areas:
        "box1 box2 box3"
        "box1 box4 box3"
        "box5 box7 box6"
        "box8 box9 box10";
    }  
}
